.cartItem p,
.cartItem h6 {
	margin: 7px 0px;
}

.cartItem .upper ._right {
	display: grid;
	grid-template-columns: 1fr;
	align-self: right;
	align-content: space-between;
	justify-items: right;
}

.cartItem {
	color: black;
	border-radius: 4px;
	border: 1px solid rgba(200, 200, 200, 0.9);
}

.cartItem .upper {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(200, 200, 200, 0.6);
	padding: 8px 10px;
}

.cartItem .upper i {
	font-size: 20px;
	margin-top: 6px;
}

.cartItem .lower .btn {
	box-shadow: none;
}

.cartItem .lower {
	display: flex;
	padding: 4px 10px;
	align-content: center;
	justify-content: space-between;
	align-items: center;
}

.cartItem .lower .btn i {
	margin-right: 6px;
}