:root {
  --theme-color: #6a1b9a;
  --tc-lighten-1: #ab47bc;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/****Overriding materialize css styles**********/

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 95%;
}
@media only screen and (min-width: 601px) {
  .container {
    width: 90%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 84%;
  }
}

.input-field input[type=text]:focus + label, 
.input-field input[type=password]:focus + label,
.input-field input[type=number]:focus + label,
.input-field input[type=date]:focus + label, 
.materialize-textarea:focus:not([readonly]) + label {
  color: var(--theme-color) !important;
}

.input-field input[type=text]:focus, 
.input-field input[type=password]:focus,
.input-field input[type=number]:focus,
.input-field input[type=date]:focus,
.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid var(--theme-color) !important;
  box-shadow: 0 1px 0 0 var(--theme-color) !important;
}

.collection .collection-item.active {
  background-color: rgba(245, 245, 245, 0.9);
}

.collection .collection-item:hover {
  background-color: rgba(235, 235, 235, 0.8);
}

button.btn.waves-effect:focus, 
button.btn.waves-effect:hover {
  box-shadow: 2px 6px 9px rgba(100, 100, 100, 0.6);
}

.tabs .indicator {
  background-color: var(--tc-lighten-1);
}
.tabs li.tab a {
  color: var(--theme-color);
}
.tabs li.tab a.active {
  color: var(--theme-color);
  background-color: rgba(250, 250, 250, 0.6);
}
.tabs li.tab a:hover {
  color: var(--theme-color);
}



/**********************************************************/
.noMarginBottom {
  margin-bottom: 8px;
}

.noMargin {
  margin: 0px;
}

.noPadding {
  padding: 0px;
}

.icon {
  max-width: 30px;
  margin: 7px 0px 0px 10px; 
  cursor: pointer;
  transition: all 0.2s ease;
}
.icon:hover {
  transform: scale(1.1);
}

.centerOfPage {
  position: absolute;
  left: 50%;top: 50%;
  transform: translate(-50%, -50%);
}