:root {
  --theme-color: #6a1b9a;
  --tc-lighten-1: #ab47bc;
  --ut-ligh: #90caf9;
  --user-theme: #42a5f5;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/****Overriding materialize css styles**********/

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 95%;
}
@media only screen and (min-width: 601px) {
  .container {
    width: 90%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 84%;
  }
}

#userComponent .input-field input[type=text]:focus + label, 
#userComponent .input-field input[type=password]:focus + label,
#userComponent .input-field input[type=number]:focus + label,
#userComponent .input-field input[type=date]:focus + label, 
#userComponent .materialize-textarea:focus:not([readonly]) + label {
  color: var(--user-theme) !important;
}
#userComponent .input-field input[type=text]:focus, 
#userComponent .input-field input[type=password]:focus,
#userComponent .input-field input[type=number]:focus,
#userComponent .input-field input[type=date]:focus,
#materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid var(--user-theme) !important;
  box-shadow: 0 1px 0 0 var(--user-theme) !important;
}

.input-field input[type=text]:focus + label, 
.input-field input[type=password]:focus + label,
.input-field input[type=number]:focus + label,
.input-field input[type=date]:focus + label, 
.materialize-textarea:focus:not([readonly]) + label {
  color: var(--theme-color) !important;
}

.input-field input[type=text]:focus, 
.input-field input[type=password]:focus,
.input-field input[type=number]:focus,
.input-field input[type=date]:focus,
.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid var(--theme-color) !important;
  box-shadow: 0 1px 0 0 var(--theme-color) !important;
}

.collection .collection-item.active {
  background-color: rgba(245, 245, 245, 0.9);
}

.collection#featureListID .collection-item:hover {
  background-color: rgba(230, 230, 230, 0.7);
}

button.btn.waves-effect:focus, 
button.btn.waves-effect:hover {
  box-shadow: 2px 6px 9px rgba(100, 100, 100, 0.6);
}

.tabs .indicator {
  background-color: var(--tc-lighten-1);
}
.tabs li.tab a {
  color: var(--theme-color);
}
.tabs li.tab a.active {
  color: var(--theme-color);
  background-color: rgba(250, 250, 250, 0.6);
}
.tabs li.tab a:hover {
  color: var(--theme-color);
}



/**********************************************************/
.noMarginBottom {
  margin-bottom: 8px;
}

.noMargin {
  margin: 0px;
}

.noPadding {
  padding: 0px;
}

.icon {
  max-width: 30px;
  margin: 7px 0px 0px 10px; 
  cursor: pointer;
  transition: all 0.2s ease;
}
.icon:hover {
  transform: scale(1.1);
}

.centerOfPage {
  position: absolute;
  left: 50%;top: 50%;
  transform: translate(-50%, -50%);
}

.fade {
  opacity: 0.7;
}

#userProfile h6 {
  font-size: 20px;
}

#userProfile h5 {
  font-size: 30px;
  margin-bottom: 20px;
}

#searchBar {
  display: flex;
}

#searchBar input[type='text'] {
  width: 100%;
  border-radius: 4px 0px 0px 4px;
  outline: none;
  padding: 5px 15px;
  font-size: 18px;
  border: 1px solid rgba(140, 140, 140, 0.6);
}

#searchBar button {
  box-shadow: none;
  border-radius: 0px 4px 4px 0px;
}

#searchResults {
  padding-top: 10px;
}

#searchResultList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

@media only screen and (max-width: 1150px) {
  #searchResultList {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-column-gap: 10px; */
  }
}